* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.mb-15 {
    margin-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: blue;
    flex-grow: 1;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 230px;
    height: 100%;
    flex-shrink: 0;
    padding: 10px;
}

.content {
    flex-grow: 1;
    background-color: #141921;
}

.logo {
    height: 70px;
    padding: 10px 0px 15px;
}

.logo > img {
    height: 80%;
}

li > a > img {
    height: 30px;
    margin-right: 10px;
    filter: opacity(.5);
}

ul li a {
    color: #636363;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 0px;
}

nav {
    margin-bottom: 30px;
}

.playlist {
    color: #e1e1e1;
    flex-grow: 1;
    overflow-y: auto;
}

.playlist > a > i {
    color: black;
    background-color: #a3a3a3;
    padding: 10px;
    font-size: 22px;
    margin-right: 13px;
}

.playlist > a {
    text-decoration: none;
    color: #a3a3a3;
    display: flex;
    align-items: center;
}

.playlist > ul > li {
    margin: 10px 0px;
}

.aside-footer {
    height: 50px;
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #282828;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
}

